.item-info {
  max-width: 660px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 3px 3px 15px black;
  display: flex;
  flex-direction: column;
  background: gray;
  img {
    max-width: 640px;
    height: 440px;
    margin-bottom: 10px;
    border-radius: 10%;
    margin: 0 auto;
    transition-duration: 300ms;
    &:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 2px 5px 7px gray;
    }
    &:active {
      transform: scale(1, 1);
    }
  }
  .stat {
    margin-top: 5px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    background: rgba(241, 210, 107, 0.5);
    span {
      font-weight: bold;
    }
  }
  .info {
    h3 {
      padding: 10px;
      text-align: center;
    }
    p {
      text-align: center;
      padding: 10px;
    }
  }
}
